<div *ngIf="codeSichtbar">
  <div class="row">
    <div class="col text-center">
      <div class="fs-3 lh-1">
        <mark
          ><strong>{{ aktuelleFrage?.titel }}</strong></mark
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <qrcode
        [qrdata]="aktuelleCode"
        [allowEmptyString]="true"
        [width]="180"
        [errorCorrectionLevel]="'H'"
        [imageSrc]="aktuelleIcon"
      ></qrcode>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <div class="fs-3 font-monospace">{{ aktuelleScore }}</div>
    </div>
  </div>
</div>
